.pomodoro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.timer-section {
  text-align: center;
  margin-bottom: 20px;
}

.button-section {
  text-align: center;
  margin-bottom: 20px;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 20px;
}

.tabs-section {
  display: flex;
  justify-content: center;
}

.tab {
  margin: 0 10px;
}

.timer{
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
}

.start-btn{
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background: #FFF;
  margin: 48px, 58px, 80px, 156px;
  font-family: "Questrial", sans-serif;
}

.reset-btn {
  padding-right: 8px;
  padding-top: 8px;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.reset-btn:hover {
  background: transparent;
}
.reset-btn:active {
  transform: translateY(1px);
}

.t-cont{
  display: flex;
  flex-direction: row;
  margin: 14px;
  justify-content: space-between;
  align-items: center;
}

.timer-btn{
  color: #f2f2f2;
  font-family: "Questrial", sans-serif;
  font-size: 14px;
  background: transparent;
  border: none;
  border-radius: 2px;
}
.timer-btn:hover {
  background: transparent;
  border-bottom: 1px solid #f2f2f2;
}
.timer-btn:active {
  border-bottom: 1px solid #f2f2f2;
}
.timer-btn:focus {
  border-bottom: 1px solid #f2f2f2;
}

.dropdown-toggle{
  background: transparent;
  border: none;
  color: #f2f2f2;
}

table {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

th{
  padding: 10px;
  font-size: 14px;
}
td{
  padding: 0 10px;
}

label{
  color: #FFF;
  margin-left: 2px;
}

#short-break-input {
  width: 60px;
  font-family: "Questrial", sans-serif;
}
#long-break-input {
  width: 60px;
  font-family: "Questrial", sans-serif;
}