.container {
	color: #f2f2f2;
	background-color: #243340;
	font-family: "Questrial", sans-serif;
	font-size: 16px;
	width: 280px;
	height: 318px;
	right: 32px;
	position: fixed;
}
.home {
	width: 280px;
	height: 318px;
	position: relative;
}
.nav {
	display: flex;
	width: 256px;
	justify-content: space-between;
	align-items: center;
	padding: 8px;
	margin: auto;
}
.nav-title {
	font-family: "Cinzel Decorative", cursive;
	font-size: 14px;
	color: #f2f2f2;
}
.close {
	background: transparent;
	border: none;
	border-radius: 50%;
}
.close:hover {
	background: transparent;
	cursor: pointer;
}
.close:active {
	transform: translateY(1px);
}
.prompt {
	font-size: 19px;
}
.button {
	font-family: "Questrial", sans-serif;
	font-size: 14px;
	padding: 8px 20px;
	border: none;
	border-radius: 8px;
	color: #243340;
	background-color: #f2f2f2;
	cursor: pointer;
}
button:hover {
	color: #f2f2f2;
	background-color: #567373;
}
.button:active {
	color: #243340;
	background-color: #f2f2f2;
	transform: translateY(1px);
}
.btn-container {
	display: flex;
	flex-wrap: wrap;
	margin: 1em;
	justify-content: center;
}
.btn-item {
	padding: 10px;
}
.bottom-link {
	position: absolute;
	right: 5%;
	bottom: 5%;
}
.bottom-button {
	display: inline-flex;
	font-family: "Questrial", sans-serif;
	font-size: 14px;
	padding: 8px 16px;
	justify-content: center;
	align-items: center;
	border: 1px solid #f2f2f2;
	border-radius: 8px;
	color: #f2f2f2;
	background-color: #567373;
	cursor: pointer;
}
.bottom-button:hover {
	color: #567373;
	background-color: #9fb6bf;
}
.bottom-button:active {
	color: #f2f2f2;
	background-color: #567373;
	transform: translateY(1px);
}
.hidden {
  display: none;
}
