.water {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 360px;
}

.water .div {
  border: 1px none;
  border-radius: 4px;
  height: 312px;
  overflow-x: hidden;
  position: relative;
  width: 320px;
}

.water .frame {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 8px;
  justify-content: center;
  left: 200px;
  padding: 8px 16px;
  position: absolute;
  top: 237px;
  width: fit-content;
}

.water .text-wrapper {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.water .text-wrapper-2 {
  font-size: 16px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 51px;
  white-space: nowrap;
}

.water .p {
  font-size: 16px;
  font-weight: 400;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 147px;
  white-space: nowrap;
}

.water .text-wrapper-3 {
  font-size: 14px;
  font-weight: 400;
  left: 224px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 114px;
}

.water .text-wrapper-4 {
  font-size: 14px;
  font-weight: 400;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 114px;
}

.water .frame-2 {
  align-items: flex-start;
  display: flex;
  gap: 195px;
  left: 16px;
  position: absolute;
  top: 8px;
  width: fit-content;
}

.water .text-wrapper-5 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.water .cancel {
  height: 20px;
  min-width: 20px;
  position: relative;
}

.water .overlap-group {
  background-color: #d9d9d9;
  border-radius: 100px;
  height: 20px;
  left: 16px;
  position: absolute;
  top: 87px;
  width: 248px;
}

.water .rectangle {
  background-color: #515151;
  border-radius: 100px;
  height: 20px;
  width: 134px;
}

.water .h-1 {
  font-size: 40px;
  font-weight: 700;
  left: 81px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 166px;
  white-space: nowrap;
}